@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');



body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  font-family: 'Roboto', sans-serif;

  font-family: 'Roboto Mono', monospace;
}

button{
  border: 0;
    color: white;
    border-radius: 7px;
    background-color: #303030;
    font-weight: 700;
}

a{
text-decoration: none;
color: black;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 40px;
font-weight: 200;
font-size: 13px;
letter-spacing: 1px;
color: white;
position: relative;
bottom: 0px;
transform: scale(1);
transition: transform 650ms, letter-spacing 450ms;
height: max-content;
cursor: pointer;}
a:hover{
        transform: scale(1.07);
        letter-spacing: 1.7px;
        transition: letter spacing 450ms, transform 600ms;
}


/* Styled du menu DropDown*/




