html{
  font-size: 62.5%;
}

@media screen and (max-width: 320px){
  html{
    font-size: 60%;
  }
}

/*Body layout*/
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


